<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0"><strong>ゴルフ場編集</strong></h5>
      <div class="form-body p-4">
      <%= form_with model: @golfcourse do |f| %>
        <h6 class="card-subtitle mb-2 text-muted">ゴルフ場</h6>
        <p class="card-text"><%= f.text_field :title %></p>
        <h6 class="card-subtitle mb-2 text-muted">説明</h6>
        <p class="card-text"><%= f.text_field :body %></p>
        <%= f.submit '変更を保存',class:"btn btn-sm btn-success btn-block mt-2" %>
      <% end %>
      </div>
    </div>
  </div>
</div>