<h1>投稿一覧</h1>

<% @golfcourses.each do |golfcourse| %>

  <p>タイトル</p>

  <span>
    <%= link_to golfcourse.title, golfcourse_path(golfcourse.id) %>
  </span>

  <p>画像</p>
  <%= image_tag golfcourse.image, size: "200x200" %>

<% end %>