<h2>Aboutページ</h2>
サイト概要
サイトテーマ
ゴルフ場を検索したり、自分が行ったゴルフ場を投稿したりできるSNSサイト

テーマを選んだ理由
もともとゴルフが好きで、オリジナルレシピで料理を作ることが多いのですが、他の人がどのようなレシピで作っているのかを知れるサービスがあれば便利だと考え、このテーマにしました。

ターゲットユーザ
ゴルフが好きな人

主な利用シーン
気になるゴルフ場を検索する時、自分が行ったゴルフ場を投稿する時

開発環境
OS：Linux(CentOS)
言語：HTML,CSS,JavaScript,Ruby,SQL
フレームワーク：Ruby on Rails
JSライブラリ：jQuery
IDE：Cloud9
使用素材
外部サービスの画像素材・音声素材を使用した場合は、必ずサービス名とURLを明記してください。
写真AC：https://www.photo-ac.com/