<div class="container px-5 mx-auto">
  <div class="row">
    <div class="px-5 mx-auto ml-auto">
        <h1>概要</h1>
        <p style="font-size: 1.5em;">
          Golfersはゴルフコースの投稿をメインとするSNSです。<br>
          全国のゴルフコースの、<br>
          おります。<br>
          また、「いつ」でも「どこ」でもご利用いただけます。<br>
          ぜひご利用ください。
        </p>
        <%= image_tag '25407014_l.jpg', size: "550x350" %>
    </div>
  </div>
</div>


