<div class="container font-italic">

  <p></p>
  <h1 class="display-3"><strong>概要</strong></h1>
  <p></p></br>

  <div class="h5">
    <span class="p-5">Golfersはゴルフコース投稿がメインのSNSサイトです。</span></br>
    <p></p></br>
    <span class="p-5">全国の様々なゴルフコースを投稿して、仲間と共有しましょう。</span></br>
    <p></p></br>
    <span class="p-5">このサイトで知り合った仲間と</span></br>
    <p></p></br>
    <span class="p-5">ぜひ、ラウンドへ。</span></br>
  </div>

  <p></p></br>
</div>
