@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
.main-visual {
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  background-image: url("../imgs/25407014_l.jpg");
}

.pagination {
  justify-content: center;
}

#map {
  height: 300px;
  width: 100%;
}
