<h2>検索結果</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがGolfcourseの時) -->
    <tbody>
      <% @golfcourses.each do |golfcourse| %>
        <tr>
          <td><%= golfcourse.title %></td>
          <td><%= golfcourse.body %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>